## Deliverable 2. Create a Customer Travel Destinations Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [2]:
#g_key

In [3]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("../Weather_database/WeatherPy_Database.csv")
city_data_df.head()

,City_ID,City,Country,Date,Current Description,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Hobart,AU,2022-07-22 16:30:07,overcast clouds,-42.8794,147.3294,47.26,89,100,6.85
1,1,Portland,US,2022-07-22 16:31:08,overcast clouds,45.5234,-122.6762,65.28,79,100,1.99
2,2,Yellowknife,CA,2022-07-22 16:32:41,overcast clouds,62.4560,-114.3525,62.56,59,96,4.00
3,3,Hithadhoo,MV,2022-07-22 16:32:41,overcast clouds,-0.6000,73.0833,81.09,74,100,7.18
4,4,Mataura,NZ,2022-07-22 16:32:43,few clouds,-46.1927,168.8643,34.48,98,16,2.95

In [4]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 62
What is the maximum temperature you would like for your trip? 92

In [5]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Current Description,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
1,1,Portland,US,2022-07-22 16:31:08,overcast clouds,45.5234,-122.6762,65.28,79,100,1.99
2,2,Yellowknife,CA,2022-07-22 16:32:41,overcast clouds,62.4560,-114.3525,62.56,59,96,4.00
3,3,Hithadhoo,MV,2022-07-22 16:32:41,overcast clouds,-0.6000,73.0833,81.09,74,100,7.18
7,7,Gat,IL,2022-07-22 16:32:43,clear sky,31.6100,34.7642,84.81,100,0,9.62
8,8,Arraial Do Cabo,BR,2022-07-22 16:28:52,clear sky,-22.9661,-42.0278,73.09,75,2,13.76
10,10,Rikitea,PF,2022-07-22 16:32:44,overcast clouds,-23.1203,-134.9692,72.61,75,99,7.70
11,11,Korla,CN,2022-07-22 16:31:59,clear sky,41.7597,86.1469,85.53,19,0,4.18
13,13,Camocim,BR,2022-07-22 16:32:44,scattered clouds,-2.9022,-40.8411,88.92,51,34,9.60
14,14,Lalganj,IN,2022-07-22 16:28:39,light rain,25.8667,85.1833,87.03,68,98,12.39
15,15,Cascais,PT,2022-07-22 16:32:45,clear sky,38.6979,-9.4215,87.26,67,2,22.03

In [6]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 447 entries, 1 to 676
Data columns (total 11 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   City_ID              447 non-null    int64
 1   City                 447 non-null    object
 2   Country              442 non-null    object
 3   Date                 447 non-null    object
 4   Current Description  447 non-null    object
 5   Lat                  447 non-null    float64
 6   Lng                  447 non-null    float64
 7   Max Temp             447 non-null    float64
 8   Humidity             447 non-null    int64
 9   Cloudiness           447 non-null    int64
 10  Wind Speed           447 non-null    float64
dtypes: float64(4), int64(3), object(4)
memory usage: 41.9+ KB

In [7]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
clean_df = preferred_cities_df.copy()
clean_df.dropna(how='any', inplace=True)
clean_df

,City_ID,City,Country,Date,Current Description,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
1,1,Portland,US,2022-07-22 16:31:08,overcast clouds,45.5234,-122.6762,65.28,79,100,1.99
2,2,Yellowknife,CA,2022-07-22 16:32:41,overcast clouds,62.4560,-114.3525,62.56,59,96,4.00
3,3,Hithadhoo,MV,2022-07-22 16:32:41,overcast clouds,-0.6000,73.0833,81.09,74,100,7.18
7,7,Gat,IL,2022-07-22 16:32:43,clear sky,31.6100,34.7642,84.81,100,0,9.62
8,8,Arraial Do Cabo,BR,2022-07-22 16:28:52,clear sky,-22.9661,-42.0278,73.09,75,2,13.76
...,...,...,...,...,...,...,...,...,...,...,...
672,672,Bako,ET,2022-07-22 16:50:06,overcast clouds,5.7833,36.5667,68.90,55,87,5.91
673,673,Zambezi,ZM,2022-07-22 16:50:06,scattered clouds,-13.5432,23.1047,69.35,35,46,6.76
674,674,Namatanai,PG,2022-07-22 16:50:07,overcast clouds,-3.6667,152.4333,78.76,82,98,6.17
675,675,Kamogata,JP,2022-07-22 16:50:07,clear sky,34.5333,133.5833,75.38,85,3,3.18
676,676,Kutum,SD,2022-07-22 16:49:03,few clouds,14.2000,24.6667,87.40,28,11,7.65

In [8]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = clean_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
1,Portland,US,65.28,overcast clouds,45.5234,-122.6762,
2,Yellowknife,CA,62.56,overcast clouds,62.4560,-114.3525,
3,Hithadhoo,MV,81.09,overcast clouds,-0.6000,73.0833,
7,Gat,IL,84.81,clear sky,31.6100,34.7642,
8,Arraial Do Cabo,BR,73.09,clear sky,-22.9661,-42.0278,
10,Rikitea,PF,72.61,overcast clouds,-23.1203,-134.9692,
11,Korla,CN,85.53,clear sky,41.7597,86.1469,
13,Camocim,BR,88.92,scattered clouds,-2.9022,-40.8411,
14,Lalganj,IN,87.03,light rain,25.8667,85.1833,
15,Cascais,PT,87.26,clear sky,38.6979,-9.4215,

In [9]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():

    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
   
    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [10]:
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
1,Portland,US,65.28,overcast clouds,45.5234,-122.6762,Embassy Suites by Hilton Portland Downtown
2,Yellowknife,CA,62.56,overcast clouds,62.4560,-114.3525,The Explorer Hotel
3,Hithadhoo,MV,81.09,overcast clouds,-0.6000,73.0833,Scoop Guest House
7,Gat,IL,84.81,clear sky,31.6100,34.7642,OlusHome
8,Arraial Do Cabo,BR,73.09,clear sky,-22.9661,-42.0278,Pousada Porto Praia
10,Rikitea,PF,72.61,overcast clouds,-23.1203,-134.9692,People ThankYou
11,Korla,CN,85.53,clear sky,41.7597,86.1469,Gulisitan Hotel
13,Camocim,BR,88.92,scattered clouds,-2.9022,-40.8411,Ilha Praia Hotel
14,Lalganj,IN,87.03,light rain,25.8667,85.1833,Ratikul Mallick
15,Cascais,PT,87.26,clear sky,38.6979,-9.4215,Hotel Vila Galé Cascais

In [11]:
hotel_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 442 entries, 1 to 676
Data columns (total 7 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   City                 442 non-null    object
 1   Country              442 non-null    object
 2   Max Temp             442 non-null    float64
 3   Current Description  442 non-null    object
 4   Lat                  442 non-null    float64
 5   Lng                  442 non-null    float64
 6   Hotel Name           442 non-null    object
dtypes: float64(3), object(4)
memory usage: 43.8+ KB

In [12]:
# 7. Drop the rows where there is no Hotel Name.
clean_hotel_df = hotel_df.dropna(how='any')
clean_hotel_df.head(30)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
1,Portland,US,65.28,overcast clouds,45.5234,-122.6762,Embassy Suites by Hilton Portland Downtown
2,Yellowknife,CA,62.56,overcast clouds,62.4560,-114.3525,The Explorer Hotel
3,Hithadhoo,MV,81.09,overcast clouds,-0.6000,73.0833,Scoop Guest House
7,Gat,IL,84.81,clear sky,31.6100,34.7642,OlusHome
8,Arraial Do Cabo,BR,73.09,clear sky,-22.9661,-42.0278,Pousada Porto Praia
10,Rikitea,PF,72.61,overcast clouds,-23.1203,-134.9692,People ThankYou
11,Korla,CN,85.53,clear sky,41.7597,86.1469,Gulisitan Hotel
13,Camocim,BR,88.92,scattered clouds,-2.9022,-40.8411,Ilha Praia Hotel
14,Lalganj,IN,87.03,light rain,25.8667,85.1833,Ratikul Mallick
15,Cascais,PT,87.26,clear sky,38.6979,-9.4215,Hotel Vila Galé Cascais
17,Nikolskoye,RU,81.81,scattered clouds,59.7035,30.7861,Tourist House - Sablino
18,El Dorado,US,85.64,clear sky,38.7666,-120.5177,South Fork Group Campground
22,Mahebourg,MU,71.26,light rain,-20.4081,57.7000,Shandrani Beachcomber Resort & Spa
23,Jamestown,US,82.94,clear sky,42.0970,-79.2353,Hampton Inn & Suites Jamestown
26,Vaini,TO,73.08,overcast clouds,-21.2000,-175.2000,Keleti Beach Resort
28,Bengkulu,ID,75.81,light rain,-3.8004,102.2655,Grage Hotel Bengkulu
29,Nanning,CN,79.45,clear sky,22.8167,108.3167,Nanning Travelling With Hostel
33,Ratnagiri,IN,79.52,overcast clouds,16.9833,73.3000,Hotel Landmark
34,Charagua,BO,82.62,clear sky,-19.8000,-63.2167,Hotel
35,Hamilton,US,91.22,clear sky,39.1834,-84.5333,Six Acres Bed & Breakfast
38,Hilo,US,75.27,scattered clouds,19.7297,-155.0900,Hilo Hawaiian Hotel
40,Port Alfred,ZA,65.50,scattered clouds,-33.5906,26.8910,The Halyards Hotel
41,Carnarvon,AU,64.74,clear sky,-24.8667,113.6333,Hospitality Carnarvon
44,Castro,BR,74.64,scattered clouds,-24.7911,-50.0119,CHACARA BAILLY
45,Asau,RO,80.69,clear sky,46.4333,26.4000,Casa Mika Ciobanus
46,Honiara,SB,76.14,scattered clouds,-9.4333,159.9500,Heritage Park Hotel
48,Mokolo,CM,77.70,moderate rain,10.7398,13.8019,Diwa Hôtel
50,Campo Verde,BR,89.78,scattered clouds,-20.4167,-54.0667,
55,Sioux Lookout,CA,66.78,broken clouds,50.1001,-91.9170,Knobby's Fly-In Camps
56,Madison,US,91.09,broken clouds,34.7334,-86.5667,Embassy Suites by Hilton Huntsville

In [20]:
# 8a. Create the output File (CSV)
output_data_file = "../Weather_Database/WeatherPy_vacation.csv"
# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [14]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Weather Description</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [17]:
#locations

In [16]:
#check the map is working
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# 11a. Add a marker layer for each city to the map. 
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))