## Deliverable 3. Create a Travel Itinerary Map.

In [11]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [12]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("../Vacation_Search/WeatherPy_vacation.csv")
vacation_df.head()

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,1,Portland,US,65.28,overcast clouds,45.5234,-122.6762,Embassy Suites by Hilton Portland Downtown
1,2,Yellowknife,CA,62.56,overcast clouds,62.4560,-114.3525,The Explorer Hotel
2,3,Hithadhoo,MV,81.09,overcast clouds,-0.6000,73.0833,Scoop Guest House
3,7,Gat,IL,84.81,clear sky,31.6100,34.7642,OlusHome
4,8,Arraial Do Cabo,BR,73.09,clear sky,-22.9661,-42.0278,Pousada Porto Praia

In [14]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Weather Description</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} Â°F</dd>
</dl>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [16]:
#locations

In [18]:
#check the map is working
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

# 4a. Add a marker layer for each city to the map.

marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)

# 4b. Display the figure

fig

Figure(layout=FigureLayout(height='420px'))

In [20]:
# 4c Prompt the user to enter vacation_start/end, vacation_stop2, vacation. 
input("Ready to Identify your vacation itinerary (Yes or No)")
vacation_start_city = input("From what city will you start your vacation?")
vacation_stop_city = vacation_start_city
vacation_stop_1_city = input("What is the firt city to stop in on your vacation?")
vacation_stop_2_city = input("What is the second city to stop in on your vacation?")
vacation_stop_3_city = input("What is the third city to stop in on your vacation?")

Ready to Identify your vacation itinerary (Yes or No)yes
From what city will you start your vaction?Baker City
What is the firt city to stop in on your vaction?Bend
What is the second city to stop in on your vaction?Portland
What is the third city to stop in on your vaction?Sunnyside

In [22]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = vacation_df.loc[vacation_df["City"] == vacation_start_city]
vacation_end = vacation_df.loc[vacation_df["City"] == vacation_stop_city]
vacation_stop1 = vacation_df.loc[vacation_df["City"] == vacation_stop_1_city]
vacation_stop2 = vacation_df.loc[vacation_df["City"] == vacation_stop_2_city] 
vacation_stop3 = vacation_df.loc[vacation_df["City"] == vacation_stop_3_city]

In [30]:
vacation_start

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
336,531,Baker City,US,73.6,clear sky,44.7749,-117.8344,Bridge Street Inn

In [37]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start = vacation_start['Lat'].to_numpy()[0], vacation_start['Lng'].to_numpy()[0]
end = vacation_end['Lat'].to_numpy()[0], vacation_end['Lng'].to_numpy()[0]
stop1 = vacation_stop1['Lat'].to_numpy()[0], vacation_stop1['Lng'].to_numpy()[0]
stop2 = vacation_stop2['Lat'].to_numpy()[0], vacation_stop2['Lng'].to_numpy()[0]
stop3 = vacation_stop3['Lat'].to_numpy()[0], vacation_stop3['Lng'].to_numpy()[0]

In [39]:
#stop3

In [42]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

#create a vacation itinerary layer
vacation_itinerary = gmaps.directions_layer(
    start,
    end,
    waypoints=[stop1,stop2,stop3],
    travel_mode="DRIVING" 
)

fig.add_layer(vacation_itinerary)

#Call the figure to plot the data
fig

Figure(layout=FigureLayout(height='420px'))

In [44]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start,vacation_stop1,vacation_stop2,vacation_stop3],ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,531,Baker City,US,73.60,clear sky,44.7749,-117.8344,Bridge Street Inn
1,601,Bend,US,73.33,clear sky,44.0582,-121.3153,Fairfield Inn & Suites by Marriott Bend Downtown
2,1,Portland,US,65.28,overcast clouds,45.5234,-122.6762,Embassy Suites by Hilton Portland Downtown
3,355,Sunnyside,US,82.99,clear sky,46.3237,-120.0087,Rodeway Inn

In [50]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>Weather Description</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} Â°F</dd>
</dl>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [51]:
# get the map
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

# 11a. Add a marker layer for each city to the map.
# create marker layer
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)

fig.add_layer(marker_layer)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))